<h3 class="ui header">{{t "forms.i-i-s-postamat17-уведомление-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.уведомление
      class=(if (v-get validationModel "уведомление" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat17-уведомление-e.уведомление-caption")
      data-test-i-i-s-postamat17-уведомление-e-уведомление=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "уведомление" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.сгенКлюч
      class=(if (v-get validationModel "сгенКлюч" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat17-уведомление-e.сгенКлюч-caption")
      data-test-i-i-s-postamat17-уведомление-e-сгенКлюч=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сгенКлюч" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.фИО
      class=(if (v-get validationModel "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat17-уведомление-e.фИО-caption")
      data-test-i-i-s-postamat17-уведомление-e-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерПосылки
      class=(if (v-get validationModel "номерПосылки" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat17-уведомление-e.номерПосылки-caption")
      data-test-i-i-s-postamat17-уведомление-e-номерПосылки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерПосылки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерТелефона
      class=(if (v-get validationModel "номерТелефона" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat17-уведомление-e.номерТелефона-caption")
      data-test-i-i-s-postamat17-уведомление-e-номерТелефона=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерТелефона" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat17-уведомление-e.хранение-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.хранение
      displayAttributeName="продления"
      autocomplete=true
      relationName="хранение"
      projection="ХранениеL"
      title=(t "forms.i-i-s-postamat17-уведомление-e.хранение-caption")
      readonly=readonly
      componentName="хранениеLookup"
      class=(if (v-get validationModel "хранение" "isInvalid") "error")
      data-test-i-i-s-postamat17-уведомление-e-хранение=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "хранение" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat17-уведомление-e.хранение.датаНачала-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=true
      value=model.хранение.датаНачала
      class=(if (v-get validationModel.хранение "датаНачала" "isInvalid") "error")
      data-test-i-i-s-postamat17-уведомление-e-хранение-датаНачала=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.хранение "датаНачала" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat17-уведомление-e.хранение.датаЗавершения-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=true
      value=model.хранение.датаЗавершения
      class=(if (v-get validationModel.хранение "датаЗавершения" "isInvalid") "error")
      data-test-i-i-s-postamat17-уведомление-e-хранение-датаЗавершения=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.хранение "датаЗавершения" "message")}}
  </div>
</form>
