<h3 class="ui header">{{t "forms.i-i-s-postamat17-база-ключей-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерБазы
      class=(if (v-get validationModel "номерБазы" "isInvalid") "error")
      label=(t "forms.i-i-s-postamat17-база-ключей-e.номерБазы-caption")
      data-test-i-i-s-postamat17-база-ключей-e-номерБазы=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерБазы" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-postamat17-база-ключей-e.ключ-caption"}}</label>
    {{flexberry-groupedit
      componentName="ключGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.ключ
      content=model.ключ
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "ключ" "isInvalid") "error")
      data-test-i-i-s-postamat17-база-ключей-e-ключ=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "ключ" "message")}}
  </div>
</form>
